@import "bootstrap-icons/font/bootstrap-icons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Path: resources/css/custom.css */

/* This CSS ensures that the height: 100vh; is only applied on screens wider than 1024px */
/* @media (min-width: 1024px) { */
@media (min-width: 1200px) {
    .aside.position-sticky {
        height: 100vh;
    }
}

/* link color */
.bg-white a,
.dropzone .dz-preview a,
.dropzone-wrapper .dz-preview a,
.editor-preview-side a,
.layout a {
    color: #027bff;
}

.bg-white a:hover,
.dropzone .dz-preview a:hover,
.dropzone-wrapper .dz-preview a:hover,
.editor-preview-side a:hover,
.layout a:hover {
    color: #208aff!important;
}

.custom-upload-field {
    align-items: center!important;
}
.custom-upload-field .form-label {
    /* margin-bottom: 0.5rem; */
}
.custom-upload-field .dropzone-wrapper {
    /* width: 100%; */
}


.text-white {
    --tw-text-opacity: 1!important;
    color: rgb(255 255 255 / var(--tw-text-opacity))!important;
}
.bg-blue-500.text-white:hover {
    --tw-bg-opacity: 0.8!important;
    --tw-text-opacity: 1!important;
    /* background-color: rgb(59 130 246 / var(--tw-bg-opacity))!important; */
    color: rgb(255 255 255 / var(--tw-text-opacity))!important;
}
